.Card {
    margin: 24px auto;
    width: 1000px;
    height: 400px;
    background-color: rgb(37, 46, 41) !important;
}

.CardText {
    padding: 20px 70px !important;
    font-size: 18px !important;
    font-family: "Roboto Mono" !important;
    color: rgb(173, 190, 179) !important;
}
