.first {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed rgba(255, 255, 255, 0.10);
}

.fade-1 {
    opacity: 0.5
}

.fade-2 {
    opacity: 0.3
}

.fade-3 {
    opacity: 0.2
}

.fade-4 {
    opacity: 0.1
}
